*{
    margin: 0;
    padding: 0;
}













.design{
    height: 100vh;
    width: 100%;
   
}
.flex{
    display: flex;
}
.design .flex .computer-choice1{
width: 50%;
height: 50vh;
border: 1px solid black;
}
.computer-choice1{
    display: flex;
    
}
#out{
    padding-left: 40px;
    font-size: 6rem;
padding-top: 40px;
}
.design  .flex .your-choice1{
    width: 50%;
    border: 1px solid black;
}
.your-choice1 {
    display: flex;

}
 .your-choice1 .img,   .computer-choice1 .img{
    height: 50vh;
    width: 40%;
    border-right: 1px solid black;
   
   display: flex;
   
   align-items: center;
   background-color: rgb(231, 231, 231);
}
.your-choice1 .img i,.computer-choice1 .img i{
    font-size: 9rem;
    margin-left: 25px;
   
}
h1{
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}

.button1 button{
    padding: 10px 20px;
    margin: 5px;
    color: black;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    font-weight: 700;
    border-radius: 9px;
}
.button1 button:hover{
    color: white;
    background-color: black;
}
#con{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#con #console{
   padding-left: 40px;
    font-size: 6rem;
padding-top: 40px;
}
#output{
    height: 100px;
    width: 100%;
   
    background-color: rgb(250, 249, 249);
    margin-top: 30px;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    padding-top: 20px;
    box-shadow: 3px 3px 6px 6px rgb(197, 197, 197);
}

@media only screen and (max-width: 978px) {
  
    .flex{
        display: flex;
        flex-wrap: wrap;
    }
    .design .flex .computer-choice1{
        width: 100%;
        height: 50vh;
        border: 1px solid black;
        }
        .design .flex .your-choice1{
            width: 100%;
            height: 50vh;
            border: 1px solid black;
        }
  }